  :root{
    --text-color: #bac964;
    --text-color2 : #d2691e;
    --text-color1:#48d1cc;
  }

  .App{
    background-color:#222;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 800px;
  }

  h1, h2, h3, h4, h5 {
    color: #fff;
    font-weight: 250;
  }

  h2{
    font-size: 25px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #FFFFFF66;
}

.site-navbar{
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
  background: #fff;
 }
 .site-navbar .navbar-brand{
   display: inline block;
   border: 2px solid #fff;
   padding: 5px 10px;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: .2em;
 }
 .site-navbar .navbar-brand:hover {
   color: #fff;
 }
 .bg-light{
   background: transparent !important;}

 @media screen and (max-width: 500px) {
  .bg-light {
    background: #ccc !important;
    top: 0; }
    .site-navbar.bg-light .navbar-brand {
      display: inline-block;
      font-size: 18px;
      border: 2px solid #000;
      color: #000; }   
    }
  
    
  .navbar-nav{
    margin: 0 auto;
    }

   
    .site-navbar .nav-link{
      color: #fff !important;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .1em;
      text-transform: uppercase;
      position: relative;
      margin: 0 25px;
    }

   

    @media(max-width: 990px){
       .site-navbar .nav-link{
         color: rgba(0, 0,0, 0.7) !important;
       }
     }
  
  


     .site-hero {
      background: #f4f0f0 ;
      background-size: center;
      background-position: left;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden; }

      .site-hero .row{
          height: 100vh;
          min-height: 800px;
      }
      
      .site-hero:before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); }

        .site-hero h1{
          font-weight: 200;
          display: block;
          margin-bottom: 20px;
          color: #fff;
        }
       .site-hero h1 strong{
         font-weight: 400;
         color: orangered ;
       }
     
       @media(min-width:760px){
         .site-hero h1{
           font-size: 70px;
           color: #fff;
         }
       }

       .site-section{
        padding: 5em 0;
       }

        .section-heading{
          position: relative;
          z-index: 10;
        }

        .section-heading h2{
          font-weight: 200;
          font-size: 30px;
          padding-bottom: 1em;
        }
        .section-heading h2 strong{
          font-weight: 800;
        }
         
        .bio {
          font-weight: 200;
          line-height: 1.5; }

      .btn{
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .2em;
      }
      .btn:active, .btn:focus{
        outline: none;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
      .btn.btn-primary{
        color: #fff;
        background: var(--text-color);
      }
      .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
        background: #b2c251;
      }

      
      .education{
        padding: 30px;
        background: #333;
       border-radius: 7px;
       border: 4px solid transparent;
      }

       .education .date{
         display: block;
         color: #fff;
         font-size: 12px;
         margin-bottom: 10px;
         font-weight: 700;
       }
       .education .school{
        font-size: 16px;
        display: block;
        color: rgba(255, 255, 255, 0.3);
     
        }
      .education .course{ 
        color: var(--text-color);
        font-size: 20px;
      }
      .education .school .city{
        font-size: 14px;
        }

        .skills-section{
          transition: all 0.04s;
        }
    
        .skills{
          background: #404040;
          padding: 20px;
          border-radius: 7px;
          
        }
         .skill-name{
          color: var(--text-color);
          letter-spacing: .1em;
          font-weight: 500;
        }

        .certificate{
          background: #333;
          border-radius: 7px;
         
        }
        .certificate .certificate-name{
          color: #fff;
          font-weight: 500;
          letter-spacing: .1em;
        }
        .certificate p{
          font-weight: 400;
          font-size: 14px;
        }
        .certificate-icon{
          display: block;
          margin-bottom: 50px;
          background: #edf0f2;
          background: var(--text-color);
          border-radius: 50%;
          width: 70px;
          height: 70px;
          margin: 0 auto 30px auto;
          position: relative;
        }
        .certificate .thumbnail{
          position: absolute;
          top: 1em;
          right: 1em;  
        }
      

      .certificate .certificate-link{
         display: block;
         color: var(--text-color);
         font-size: 12px;
         font-weight: 200;
         letter-spacing: .1em;
         text-decoration: none;
       }

       .certificate .certificate-link:hover i{
         margin-left: 20px;
       }
      
      .form-control{
        border: none !important;
         background: #333;
         color: var(--text-color);
         box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) !important;
       }
        .form-control:focus{
         background-color: #404040;
       }  
       
       
       .details .det-list{
         padding-top: 2.3em;
       }
       .details .det-list li{
         padding-bottom: 1.1em;
       }
       .details .det-list .det-heading{
         color: var(--text-color);
         text-transform: uppercase;
         letter-spacing: .1em;
         font-size: 12px;
         font-weight: 500;
         display: block;
       }
       .details .det-list .det-data{
         font-size: 15px;
         font-weight: 400;
       }

       .media-icon{
         display: inline-block;
         background: #333;
         border-radius: 50%;
         height: 60px;
         width: 60px;
         color: var(--text-color);
         position: relative;
         font-size: 20px;
         margin: 0 10px;
       }  
       .media-icon .icon{
        position: absolute;
        top:32%;
        right: 32%;
       }
       .media-icon:hover{
         color: #b2c251;
       }

       @media(max-width:991px){
        .media-icon{
          display: inline-block;
          background: #333;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          color: var(--text-color);
          position: relative;
          font-size: 20px;
          margin: 0 10px;
        }  
        .media-icon .icon{
         position: absolute;
         top:20%;
         right: 20%;
        }
       }

       .site-footer{
        background: #f4f0f0 ;
        background-size: center;
        background-position: left;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden; }
  
        .site-footer:before {
          content: "";
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5); }

          .footer{
            padding-top: 9em;
          }